@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
}
body {
  background: url("../public/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
  position: relative;
}
body::before {
  background: inherit;
  content: "";
  position: absolute;
  top: -6px;
  bottom: -0.3px;
  left: -5px;
  right: -0.3px;
  filter: blur(3px);
  z-index: -1;
}

.reactProjects h1 {
  color: #fff;
  text-align: center;
  padding: 10px;
}

.reactProjects .container .projectContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 10px;
}
.reactProjects .container .projectContent .projectLists {
  padding: 25px;
  margin: 10px;

  height: 55vh;
  text-align: center;
  position: relative;
}
.reactProjects .container .projectContent .projectLists::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 30px;
  z-index: -1;
  opacity: 0.4;
}

.reactProjects .container .projectContent .projectLists img {
  width: 350px;
  height: 200px;
}
.reactProjects .container .projectContent .projectLists h3 {
  margin: 5px;
  font-size: 20px;
  color: #000;
}
.reactProjects .container .projectContent .projectLists p {
  font-size: 18px;
  color: #000;
  margin-top: 8px;
  margin-bottom: 30px;
}
.reactProjects .container .projectContent .projectLists a {
  text-decoration: none;
  background-color: #0e6cff;
  padding: 13px;
  color: #fff;
  border-radius: 30px;
}
.reactProjects .container .projectContent .projectLists a:hover {
  background-color: rgba(41, 198, 246, 0.563);
  color: #000;
}
